<%= form_for @post do |f| %>
	<div class="form-group">
		<%= f.text_area :content, class: 'form-control', placeholder: 'ゴールを入力してください' %>
		<% if @post.errors.messages[:content].any? %>
		<%= @post.errors.messages[:content][0] %>
		<% end %>
	</div>

	<div class="form-group">
		<%= f.file_field :image %>
	</div>

	<div>
		<%= f.hidden_field :user_id %>
	</div>

	<div class="submit">
		<%= f.submit 'アファメーション作成' %>
	</div>
<% end %>
